a {
  color: #b71a4c;
}
.wrapper {
  text-align: center;
  //background-color: red;  
}
.container1 {
 //background-color: pink; 
  width:670px; 
}
.booking-details {
  float: left;
  text-align: center;
  font-size: 15px;
  position: relative;
  height: 401px;
 // background-color:blue;
  width:670px;
 
}
.booking-details h2 {
  margin: 25px 0 20px 0;
  font-size: 17px;
}
.booking-details h3 {
  margin: 5px 5px 0 0;
  font-size: 14px;
}
div.seatCharts-cell {
  color: #182C4E;
  height: 25px;
  width: 25px;
  line-height: 25px;
  
}
div.seatCharts-seat {
  color: #FFFFFF;
  cursor: pointer;  
}
div.seatCharts-row {
  height: 35px;
}
div.seatCharts-seat.available {
  background-color: #B9DEA0;

}
div.seatCharts-seat.available.first-class {
  background-color: #3a78c3;
}
div.seatCharts-seat.focused {
  background-color: #76B474;
}
div.seatCharts-seat.selected {
  background-color: #E6CAC4;
}
div.seatCharts-seat.unavailable {
  background-color: #472B34;
}
div.seatCharts-container1 {
  border-right: 1px dotted #adadad;
  width: 200px;
  padding: 20px;
  float: left;
}
div.seatCharts-legend {
  padding-left: 0px;
  position: absolute;
  bottom: 16px;
}
ul.seatCharts-legendList {
  padding-left: 0px;
}
span.seatCharts-legendDescription {
  margin-left: 5px;
  line-height: 30px;
}
.checkout-button {
  display: block;
  margin: 10px 0;
  font-size: 18px;
}
#selected-seats {
  max-height: 200px;
  overflow-y: scroll;
  overflow-x: none;
  width: 500px;
}